{
    "printer_name": "HPRT N41",
    "pdftoprinter_exe": "tools\\PDFtoPrinter.exe",
    "paper_size_text": "76mm * 130mm",
    "paper_width_mm": 76,
    "paper_height_mm": 130,
    "print_pages": "All",
    "copies": 1,
    "direct_print_pdf": true,
    "render_pdf_files_with_chrome": false,
    "web_render_wait_sec": 5,
    "after_document_ready_wait_sec": 1,
	
	"image_render_wait_sec": 0.3,
	"local_html_render_wait_sec": 0.5,
	"text_render_wait_sec": 0.2,
    "print_background": true,
    "prefer_css_page_size": false,
    "landscape": false,
    "scale": 1.0,
    "margin_top_mm": 0,
    "margin_bottom_mm": 0,
    "margin_left_mm": 0,
    "margin_right_mm": 0,
    "image_fit": "contain",
    "pdftoprinter_wait_sec": 2,
    "pdftoprinter_timeout_sec": 60,
    "fail_on_pdftoprinter_nonzero": true,
    "keep_temp_pdf": true,
    "cleanup_temp_pdf_after_success": false,
    "normalize_pdf_before_print": true,
    "pdf_fit_margin_mm": 1.5,
    "pdf_fit_scale": 0.96,
    "pdf_fit_allow_upscale": true
}